# Shipment Tracker API

In [1]:
import pandas as pd
# Set display option to show all columns
pd.set_option('display.max_columns', None)

In [2]:
from functions0_basics import get_files_path, shipments_not_delivered, get_API_details
# Added chromedriver if needed
excel_path, report_path, chromedriver_path = get_files_path("Albert")
shipments_not_delivered = shipments_not_delivered(excel_path)

from functions1_TNT_requests import make_tnt_requests
tnt_results, len_shipm_numbers = make_tnt_requests(shipments_not_delivered)

from functions2_TNT_dataframe import tnt_to_dataframe
tnt_df = tnt_to_dataframe(tnt_results, len_shipm_numbers, report_path)
#display(tnt_df.head(3), tnt_df.tail(3))

from functions1_DHL_requests import make_dhl_requests
all_dhl_results, max_dhl_shipm = make_dhl_requests(shipments_not_delivered)

from functions2_DHL_dataframe import dhl_to_dataframe
dhl_df = dhl_to_dataframe(all_dhl_results, shipments_not_delivered, max_dhl_shipm, report_path)
#dhl_df

**150 shipments NOT DELIVERED in your file**

Status Carrier  In Transit  Exception  Totals
0          DHL          16          0      16
1        NACEX           2          1       3
2         SEUR           1          1       2
3          TNT         127          2     129

Total TNT shipment numbers: 129

New report file saved at: Track Reports/TNT - Track Report 18-12-2023 10_24_40.xlsx

New report file saved at: Track Reports/DHL - Track Report 18-12-2023 10_24_50.xlsx

In [ ]:
#tnt_df.to_excel("./Track Reports/dhl_clean_report.xlsx")

In [ ]:
#dhl_df.to_excel("./Track Reports/dhl_clean_report.xlsx")